*{
  padding: 0;
  margin: 2px;
  box-sizing: border-box;
}

section {
  width: 100%;
  background-color: bisque;
  
  
  justify-content: space-between;
  padding: 10px;
  border: 5px solid grey;
  border-radius: 12px;

}
#new-player-form {
  display: flex;
  flex-direction: row;
  background-color: azure;
  border: 5px solid darkgrey;
  border-radius: 6px;
  height: 20vh;
  flex-wrap: wrap;
}

#all-players-container {
  display: grid;
  grid-template-columns: repeat(3 , 33%);
  
  
  background-color: azure;
  border: 5px solid darkgrey;
  border-radius: 6px;
  
}

img {
  max-width: 100%;
  max-height: 80%;

}

#instructions  {
  width: 98vw;
  background-color:rgb(227, 205, 227);
  border: 5px solid darkgrey;
  border-radius: 6px;

}

#add-pet {
  width: 98vw;
  background-color:rgb(227, 205, 227);
  border: 5px solid darkgrey;
  border-radius: 6px;
}
